/********************* Grid **************************/
body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    margin: 0 auto;
    width: 100%;
}

.brandTitle {
    font-size: 50px;
    margin-bottom: 0px;
    color: #d56d3a;
}

li {
    list-style-type: none;
}

/********************** NavBar ************************/
.navbar-toggler {
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
}

a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    color: #444;
    transition: 0.3s;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
    color: #444;
}


.hours {
    margin-top: 80px;
    font-size: 25px;
    color: #000000
}

.links {
    display: flex;
    justify-content: space-around;

}

/* footer */
.card-group {
    background: #e6e0d9;
    /* margin: 20px 20px 0px 20px; */
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
}
.card {
   border-right: none;
   border-left: none;
}

.card-text {
    font-size: 14px;
    list-style: none;
}
.links {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-top: 30px;

}

.submit-btn {
    margin-bottom: 2px;
    background-color: #b4b4b4;
    padding: 10px;
    border: 1px solid #b4c3b6;
    cursor: pointer;
    color: #292d29;
    text-align: center;
    transition: 0.3s;
    opacity: 0.6; 
}

.submit-btn:hover {
    opacity: 1;
}

.form {
    padding: 7vh 0 0 7vh;
}

.form-control:focus {
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0.2rem rgba(202, 222, 243, 0.25);
}
