/********************* Grid **************************/
.container {
    margin: 0 auto;
    width: 100%;
}

.row {
    margin: 0 auto;
    width: 100%;
}

.brandTitle {
    font-family: 'Sansita Swashed', cursive;
    font-size: 50px;
    margin-bottom: 0px;
    color: #d56d3a;
}

li {
    list-style-type: none;
}

/********************** NavBar ************************/
.navbar-toggler {
    margin-left: auto;
}

a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
    color: #000000;
}

a:hover {
    color: #444;
    text-decoration: none;
}

.hours {
    margin-top: 80px;
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
    color: #000000
}

.links {
    display: flex;
    justify-content: space-around;

}

.footer {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 10px 0 10px 0;
    background-color: rgb(148, 148, 148);
}
