body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding-bottom: 10px;
}

ul {
    list-style-type: none;
}

/********************** NavBar ************************/
.navbar-toggler {
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
}
a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    color: #444;
    transition: 0.3s;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}


.month {
    padding: 25px 100px;
    width: 100%;
    background: #d56d3a;
    text-align: center;
}

.month ul {
    margin: 0;
    padding: 0;
}

.month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.month .prev {
    float: left;
    padding-top: 10px;
}

.month .next {
    float: right;
    padding-top: 10px;
}

.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

.weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 15px;
    font-size: 25px;
    color: #777;
}

.days li .active {
    padding: 5px;
    background: #d56d3a;
    color: white !important
}

.bandImg {
    width: 100%;
}

.live-heading {
    font-size: 35px;
}

.info {
    margin-top: 90px;
    font-size: 22px;
    text-align: center;

}

/* footer */
.card-group {
    background: #e6e0d9;
    /* margin: 20px 20px 0px 20px; */
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
}
.card {
   border-right: none;
   border-left: none;
}

.card-text {
    font-size: 14px;
    list-style: none;
}
.links {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-top: 30px;

}

.submit-btn {
    margin-bottom: 2px;
    background-color: #b4b4b4;
    padding: 10px;
    border: 1px solid #b4c3b6;
    cursor: pointer;
    color: #292d29;
    text-align: center;
    transition: 0.3s;
    opacity: 0.6; 
}

.submit-btn:hover {
    opacity: 1;
}

.form {
    padding: 7vh 0 0 7vh;
}

.form-control:focus {
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0.2rem rgba(202, 222, 243, 0.25);
}

/* Add media queries for smaller screens */


@media only screen and (max-width: 350px) {
    /* navbar */
    .brandTitle {
       width: 220px;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .col-5 {
       max-width: 100%;
   }

   .col-7 {
    max-width: 100%;
   }

   .row {
    display: inline-block;
   }

   .bandImg {
    width: 100%;
    }

    .live-heading {
        font-size: 25px;
    }

    .info {
        margin-top: 20px;
        font-size: 15px;

    }

    .month {
        padding: 10px 25px;
        width: 100%;
        background: #d56d3a;
        text-align: center;
    }

   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
}

@media all and (max-width: 375px) and (min-width: 351px) {

   /* navbar */
   .brandTitle {
       width: 228px;
       margin-left: 10%;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .col-5 {
    max-width: 100%;
}

.col-7 {
 max-width: 100%;
}

.row {
 display: inline-block;
}

.bandImg {
 width: 100%;
 }

 .live-heading {
     font-size: 25px;
 }

 .info {
     margin-top: 20px;
     font-size: 15px;

 }

 .month {
     padding: 10px 25px;
     width: 100%;
     background: #d56d3a;
     text-align: center;
 }


   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
   
}

@media all and (max-width: 450px) and (min-width: 376px) {

   /* navbar */
   .brandTitle {
       width: 253px;
       margin-left: 10%;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .col-5 {
    max-width: 100%;
}

.col-7 {
 max-width: 100%;
}

.row {
 display: inline-block;
}

.bandImg {
 width: 100%;
 }

 .live-heading {
     font-size: 25px;
 }

 .info {
     margin-top: 20px;
     font-size: 15px;

 }

 .month {
     padding: 10px 25px;
     width: 100%;
     background: #d56d3a;
     text-align: center;
 }

   

   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
   

}

@media all and (max-width: 550px) and (min-width: 451px) {
   /* navbar */
   .brandTitle {
       width: 265px;
       margin-left: 11%;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .col-5 {
    max-width: 100%;
    }

    .col-7 {
    max-width: 100%;
    }

    .row {
    display: inline-block;
    }

    .bandImg {
    width: 100%;
    }

    .live-heading {
        font-size: 30px;
    }

    .info {
        margin-top: 20px;
        font-size: 17px;

    }

    .month {
        padding: 10px 25px;
        width: 100%;
        background: #d56d3a;
        text-align: center;
    }


   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
}

@media all and (max-width: 767px) and (min-width: 551px) {
     /* navbar */
     .brandTitle {
       width: 300px;
       margin-left: 20%;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .col-5 {
    max-width: 100%;
    }

    .col-7 {
    max-width: 100%;
    }

    .row {
    display: inline-block;
    }

    .bandImg {
    width: 100%;
    }

    .live-heading {
        font-size: 32px;
    }

    .info {
        margin-top: 20px;
        font-size: 20px;

    }

    .month {
        padding: 10px 25px;
        width: 100%;
        background: #d56d3a;
        text-align: center;
    }
   
   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
}

@media all and (max-width: 992px) and (min-width: 768px) {
      /* navbar */
      .brandTitle {
       width: 280px;
   }
   
   a {
       margin: auto;
   }

   .navbar-toggler {
       padding: none;
       font-size: 1rem;
   }

   .live-heading {
    font-size: 35px;
    }

    .info {
        margin-top: 25px;
        font-size: 20px;
        text-align: center;
    }

    .month {
        padding: 15px 50px;
        width: 100%;
        background: #d56d3a;
        text-align: center;
    }
   
   /* footer */
   ul {
       padding: 10px;
       margin: auto 0;
   }
}


@media screen and (max-width:720px) {

    .weekdays li,
    .days li {
        width: 13.1%;
    }
}

@media screen and (max-width: 420px) {

    .weekdays li,
    .days li {
        width: 12.5%;
    }

    .days li .active {
        padding: 2px;
    }
}

@media screen and (max-width: 290px) {

    .weekdays li,
    .days li {
        width: 12.2%;
    }
}