body {
    background-color: #e6e0d9;
}

.navbar-toggler {
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
}
/* links */

a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    color: #444;
    transition: 0.3s;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
    color: #444;
}

.container {
    margin: 0 auto;
    padding-bottom: 10px;
}

.brandTitle {
    font-family: 'Sansita Swashed', cursive;
    margin-bottom: 0px;

}

.banner {
    width: 100%;
    padding: 10px 0px 10px 0px;
    color: #444;
    text-align: center;
}

/* grid */
.grid {
    display: grid;
    grid-template-columns: .9fr 1fr 1fr;
    grid-gap: 20px;
}

.grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.grid>article img {
    max-width: 100%;
}

.grid>article:nth-child(1) {
    grid-column: span 2;
    grid-row: span 2;
}

/* card group */
.row {
    margin-top: 10px;

}

.img-fluid {
    height: 400px;
    width: 100%;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

/* footer */
.card-group {
    background: #e6e0d9;
    /* margin: 20px 20px 0px 20px; */
}

.card-body {
    text-align: center;
}

.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}
.card {
   border-right: none;
   border-left: none;
}

.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    list-style: none;
}
.links {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-top: 30px;

}

.submit-btn {
    margin-bottom: 2px;
    font-family: 'Montserrat', sans-serif;
    background-color: #b4b4b4;
    padding: 10px;
    border: 1px solid #b4c3b6;
    cursor: pointer;
    color: #292d29;
    text-align: center;
    transition: 0.3s;
    opacity: 0.6; 
}

.submit-btn:hover {
    opacity: 1;
}

.form {
    padding: 7vh 0 0 7vh;
}

.form-control:focus {
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0.2rem rgba(202, 222, 243, 0.25);
}


@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

@media scren and (max-width: 600px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}