/********************* Grid **************************/
.container {
    margin: 0 auto;
}

.brandTitle {
    font-family: 'Sansita Swashed', cursive;
    margin-bottom: 0px;
}

/********************** NavBar ************************/


a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

a:hover {
    color: #444;
    text-decoration: none;
}

/**************** Overlay Container *********************/

.banner {
    width: 100%;
    padding: 10px 0px 10px 0px;

}

.card {
    margin-bottom: 10px;
}

.row {
    padding-left: 10px;
    padding-right: 10px;
}