/********************* Grid **************************/
.col-4 {
  margin: 0 auto;
  padding: 0px;
}

.col-8 {
  margin: 0 auto;
  padding: 0px;
}

.container {
  margin: 0 auto;
}

.row {
  margin: 0 auto;
}

/******************** Left Column*********************/

.address {
  font-size: 24px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
}

.brandTitle {
  font-family: 'Sansita Swashed', cursive;
  font-size: 50px;
  margin-bottom: 0px;
  color: #d56d3a;
}

.brandImg {
  width: 100%;
}

.coffeeImg {
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
}

.foodMenu {
  width: 300px;
  height: 500px;
}

/********************** NavBar ************************/
.navbar-toggler {
  margin-left: auto;
}

/* .navbar-nav .nav-link {
        float: right;
    */

a {
  text-decoration: none;
  padding: 0 20px 0 20px;
  font-size: 20px;
  color: #d56d3a;
}

a:hover {
  color: #444;
  text-decoration: none;
}

/**************** Overlay Container *********************/

.imgOverlay {
  opacity: 0.9;
  display: block;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.5);
}

.textOverlay {
  position: absolute;
  top: 10%;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
}
