body {
    background-color: #f0f0f0;
    font-family: 'Montserrat', sans-serif;
}

.navbar-toggler {
    margin-left: auto;
}

.nav-link {
    font-size: 20px;
}

.brandTitle {
    width: 257px;
}

/* links */
a {
    text-decoration: none;
    padding: 0 20px 0 20px;
    color: #444;
    transition: 0.3s;
    opacity: 0.8;
}

a:hover {
    opacity: 1;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.rights {
    border: none;
    padding-top: 10px;
}

.rights-text {
    padding: 0px;
    font-size: 12px;
    text-align: center;
}

/* overlay container */
.overlayHeader {
    position: absolute;
    top: 154px;
    background: rgb(255 255 255 / 68%);
    color: #000000;
    width: 100%;
    font-size: 20px;
    padding: 20px;
    text-align: center;

}

.header {
    font-size: 50px;
}

.container {
    width: 100%;
    position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

/* footer */
.card-group {
    background: #e6e0d9;
    border: none;
    /* margin: 20px 20px 0px 20px; */
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
}

.card {
   border-right: none;
   border-left: none;
}

.card-text {
    font-size: 14px;
    list-style: none;
}
.links {
    font-size: 40px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding-left: 0px;
    padding-top: 30px;

}

.submit-btn {
    margin-bottom: 2px;
    background-color: #b4b4b4;
    padding: 10px;
    border: 1px solid #b4c3b6;
    cursor: pointer;
    color: #292d29;
    text-align: center;
    transition: 0.3s;
    opacity: 0.6; 
}

.submit-btn:hover {
    opacity: 1;
}

.form {
    padding: 7vh 0 0 7vh;
}

.form-control:focus {
    background-color: #fff;
    outline: 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 0 0.2rem rgba(202, 222, 243, 0.25);
}

/* IPHONE X  */

/* extra small devices (phones, 385 and down */

@media only screen and (max-width: 350px) {
     /* navbar */
     .brandTitle {
        width: 220px;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
}

@media all and (max-width: 375px) and (min-width: 351px) {

    /* navbar */
    .brandTitle {
        width: 253px;
        margin-left: 10%;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
    
}

@media all and (max-width: 450px) and (min-width: 376px) {

    /* navbar */
    .brandTitle {
        width: 253px;
        margin-left: 10%;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
    

}

@media all and (max-width: 550px) and (min-width: 451px) {
    /* navbar */
    .brandTitle {
        width: 257px;
        margin-left: 22%;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
}

@media all and (max-width: 767px) and (min-width: 551px) {
      /* navbar */
      .brandTitle {
        width: 290px;
        margin-left: 22%;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
}

@media all and (max-width: 992px) and (min-width: 768px) {
       /* navbar */
       .brandTitle {
        width: 280px;
    }
    
    a {
        margin: auto;
    }

    .navbar-toggler {
        padding: none;
        font-size: 1rem;
    }

    /* overlay */
    .header {
        display: none;
    }

    .overlayHeader {
       display: none;
    }

    /* footer */
    ul {
        padding: 10px;
        margin: auto 0;
    }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .header {
        font-size: 35px;
    }
  } 

/* extra large devices (laptops and desktops) 1200 and up */
@media only screen and (min-width: 1200px) {
    
  }
